services:
  postgres:
    image: postgres:16.4
    environment:
      POSTGRES_DB: showcase
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5443:5432"
    networks:
      - app-network

  spring:
    build: .
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/showcase
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 1234
      S3_URL: http://minio:9000
      S3_ACCESS_KEY: minioadmin
      S3_SECRET_KEY: minioadmin
      S3_BUCKET_NAME: my-bucket
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - minio
    networks:
      - app-network

  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin

    command: server /data --console-address ":9001"
    networks:
      - app-network

networks:
  app-network: